html,
body {
	background-color: #F5F5F5;
}
.mui-bar-nav{
	background: #FFF;
	box-shadow:none;
	height: 76px;
	padding-top: 32px;
	line-height: 32px;
}
.mui-bar-nav-ios{
	height: 44px;
	padding-top: 0px;
	line-height: 44px;
}
.mui-bar-nav .mui-action-back{
	color: #666666;
}
.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 1;
}
.mui-bar~.mui-pull-top-tips {
	top: 24px;
}
.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;*/
	
	margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}
.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}
.mui-pull-bottom-tips {
	text-align: center;
	background: none;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}
.mui-pull-top-canvas {
	overflow: hidden;
	background: #none;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 40px;
}
.mui-slider-indicator.mui-segmented-control {
	background-color: #FFF;
	margin-top: 32px;
}
.mui-slider-indicator-ios {
	margin-top: 0px !important;
}

.adtask-list{
	background: none;
}
.adtask-list li .mui-media{
	background: #FFF !important;
	border-radius:5px;
	
}
.adtask-list .mui-media-body{
	margin-top: -2px !important;
	padding:0 4px;
	height: 46px !important;
	}
.adtask-list li .title{
	display: block;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	text-align: left;
	font-size: 12px;
	margin-bottom: 0px;
	font-weight: bold;
}
.adtask-list li .info .a{
	float: left;
	height: 20px;
	line-height: 20px;
	margin-left: 0px;
	color: #999;
	font-size: 12px;
}
.adtask-list li .info .a .money{
	color: #F00;
	font-size: 12px;
}
.adtask-list li .info .b{
	float: right;
	color: #999;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	margin-right: 4px;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
	border: 0;
}