html[theme="mimicry"] .el-menu {
    --el-menu-bg-color: rgba(255, 255, 255, .6);
    box-shadow: 0 5px 40px rgba(17, 58, 93, .1);
    backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%);
    border: 1px solid rgba(255, 255, 255, .18);
    border-radius: var(--inis-border-radius);
}