html,
body {
	background-color: rgba(255,255,255,1);
}
.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 1;
}
.mui-bar~.mui-pull-top-tips {
	top: 24px;
}
.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: rgba(239,239,244,1);
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;*/
	
	margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}
.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}
.mui-pull-bottom-tips {
	text-align: center;
	background: none;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}
.mui-pull-top-canvas {
	overflow: hidden;
	background: #none;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 40px;
}
.mui-slider-indicator.mui-segmented-control {
	background-color: rgba(255,255,255,1);
}
.mui-bar-nav{
	background-color: rgba(255,255,255,1);
	box-shadow:none;
	height: 76px;
	padding-top: 32px;
}
.mui-bar-nav-ios{
	height: 44px;
	padding-top: 0;
}

.mui-content{
	padding: 45px 15px 15px 15px;
	background: rgba(255,255,255,1);
	color: #444;
}
.mui-content-ios{
	padding-top: 45px !important;
}
.mui-content .time{
	font-size: 0.7rem;
	color: #999;
}

.mui-content .title{
	font-size: 1rem;
	color: #444;
}
.news-content,.news-content p{
	color: #444;
	font-size: 0.8rem;
}

.news-content img{
	max-width: 100%;
}

.new-top{
	border-bottom: 1px solid #EEE;
	margin-bottom: 10px;
}

.mui-bar a.mui-action-back{
	color:#000 ;
}

.mui-bar-nav~.mui-content{
	padding-top: 76px;
}

#video{
	width:100%;
	height:200px;
	background-color:#FFFFFF;
	top: 0px;
	left: 0;
	position:  relative;
	margin-bottom: 10px;
	display: none;
}