//一些变量
@import 'utils';
//for循环生成的 margin、padding、width、height类
@import 'custom';
//颜色
@import 'layout';
//布局
@import 'anim';

@font-face {
  font-family: "DS-DIGI";
  src: url('./DS-DIGI-1.ttf') format('truetype');
}

:root {
  --color-me: rgb(21, 23, 35);
  --color-user: rgb(22, 24, 36);
  --color-message: rgb(21, 21, 21);
  --color-share-bg: rgb(38, 38, 38);
  --home-header-height: 44px;
  --footer-height: 56px;
  --common-header-height: 50px;
  --indicator-height: 43px;
  --page-padding: 15px;
  --main-bg: #1f203d;
  --active-main-bg: rgb(31, 37, 52);
  --second-text-color: rgb(186, 186, 187);
  --second-btn-color: rgb(58, 58, 70);
  --second-btn-color-tran: rgba(58, 58, 70, 0.4);
  --line-color: rgb(37, 45, 66);
  --line-color2: rgb(56, 54, 67);
  --footer-color: #1f203d;

  --primary-btn-color: rgb(252, 47, 86);
  --disable-primary-btn-color: rgba(252, 47, 86, 0.5);

  --mask-dark: #000000bb;
  --mask-light: transparent;
  --mask-white: transparent;
  --mask-lightgray: rgba(0, 0, 0, 0.25);
  //消息页面
  --msg-subpage-card-bg: rgb(28, 30, 43); //二级页面，卡片背景

  --inAppPdddingTop: 40px !important;
}


html,
body {
  width: 100%;
  height: 100%;
  //background: #2e3244;
  background: var(--main-bg);
  font-size: 1px;
  //letter-spacing: .11px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.van-nav-bar__placeholder.inApp {
  position: relative;
  z-index:2;
  .van-nav-bar--fixed {
    top: var(--inAppPdddingTop);
  }
}
// 解决谷歌浏览器输入框填充之后 背景颜色问题
input:-webkit-autofill {
  //-webkit-box-shadow: 0 0 0px 1000px red inset !important;

  -webkit-text-fill-color: #999 !important;
  transition: background-color 5000s ease-in-out 0s;

}
